html {
  position: relative;
  min-height: 100%;
  font-family: 'Oxygen', sans-serif;
}
body {
  /* Margin bottom by footer height */
  margin: 0px;
  margin-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 61px;
  background-color: #505763;
  color: #F0F0F0;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.link {
  color: #ec5252;
  text-decoration: none;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.profilePhoto {
  border-radius: 5px;
  margin: 0px 20px 20px 0px;
  float: left;
}

ul.menuList {
  margin-left: -40px;
}

ul.menuList li{
  display: inline;
  padding: 0px;
  margin-left: 0px;
  margin-right: 10px;
}

img.social {
  margin-right: 20px;
}
